/* Базовые стили без медиазапросов */
.v-categories {
    padding-bottom: 82px;
}

.v-categories__title {
    font-size: 42px;
    color: #38455C;
    text-align: center;
    margin-bottom: 102px;
    font-weight: 600;
}

.v-categories__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: calc(12px + (20 - 12) * ((100vw - 767px) / (1600 - 767)));
    grid-row-gap: calc(12px + (20 - 12) * ((100vw - 767px) / (1600 - 767)));
}

.v-categories__item {
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.v-categories__item--1 {
    grid-area: 1 / 1 / 3 / 3;
    aspect-ratio: 1.0142;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(135deg, #cdc1fc,#f4fffc);
    background: linear-gradient(135deg, #cdc1fc,#f4fffc);
}

.v-categories__item--1 .v-categories__item-img-big {
    position: absolute;
    top: 0;
    right: 5%;
    width: 50%;
}

.v-categories__item--1 .v-categories__item-img-small {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
}

.v-categories__item--1 .v-categories__item-inner {
    padding: 70px;
    position: relative;
    z-index: 1;
}

.v-categories__item--1 .v-categories__item-title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #1D1C1C;
}

.v-categories__item--1 .v-categories__item-subtitle {
    font-size: 32px;
    font-weight: 500;
    color: #1D1C1C;
}

.v-categories__item--1 .v-categories__item-img-main {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -32px;
    margin-bottom: 20px;
}

.v-categories__item--1 .v-categories__item-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
}

.v-categories__item--2 {
    grid-area: 1 / 3 / 2 / 5;
    aspect-ratio: 781/372;
    background: #FDEFE0;
}

.v-categories__item--2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.v-categories__item--2 .gradient {
    position: absolute;
    z-index: 1;
    color: #1D1C1C;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(50% 50% at 50% 50%, #F4DFFF 19.71%, rgba(217, 217, 217, 0) 100%);
    transform: rotate(-17.46deg) translate(-19%, 0);
}

.v-categories__item--2 .gradient h3 {
    transform: rotate(17.46deg);
    font-size: 48px;
}

.v-categories__item--3 {
    grid-area: 2 / 3 / 3 / 5;
    aspect-ratio: 781/372;
}

.v-categories__item--3 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.v-categories__item--3 .gradient {
    position: absolute;
    z-index: 1;
    color: #1D1C1C;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(50% 50% at 50% 50%, #F0FFFF 19.71%, rgba(217, 217, 217, 0) 100%);
    transform: rotate(-17.46deg) translate(21%, 19%);
}

.v-categories__item--3 .gradient h3 {
    transform: rotate(17.46deg);
    font-size: 48px;
}

.v-categories__item--4 {
    grid-area: 3 / 1 / 4 / 3;
    aspect-ratio: 781/372;
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.v-categories__item--4 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.v-categories__item--4 h3 {
    font-size: 48px;
    position: relative;
    z-index: 1;
}

.v-categories__item--5 {
    grid-area: 4 / 1 / 5 / 3;
    aspect-ratio: 781/372;
    display: flex;
    align-items: center;
    padding-left: 70px;
    background-image: radial-gradient(75.75% 263.91% at 64.13% 50.14%, #FFFFFF 10.04%, rgba(255, 255, 251, 0.974007) 30.52%, rgba(255, 254, 250, 0.97) 44.71%, rgba(251, 237, 208, 0.97) 100%);
}

.v-categories__item--5 img {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: contain;
    top: 0;
    left: 0;
}

.v-categories__item--5 h3 {
    font-size: 48px;
    position: relative;
    z-index: 1;
    max-width: 50%;
}

.v-categories__item--6 {
    grid-area: 3 / 3 / 5 / 5;
    background: #ACC0D0;
    aspect-ratio: 1.0142;
}

.v-categories__item--6 .v-categories__item-img-main {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.v-categories__item--6 .v-categories__item-inner {
    padding: 70px;
    position: relative;
    z-index: 1;
}

.v-categories__item--6 .v-categories__item-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(50% 50% at 50% 50%, #EAFFFC 19.71%, rgba(217, 217, 217, 0) 100%);
    transform: rotate(8.13deg);
}

.v-categories__item--6 .v-categories__item-title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #1D1C1C;
    position: relative;
    z-index: 1;
}

.v-categories__item--6 .v-categories__item-subtitle {
    font-size: 32px;
    font-weight: 500;
    color: #1D1C1C;
    margin-bottom: 27px;
    position: relative;
    z-index: 1;
}

.v-categories__item--6 .v-categories__item-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    position: relative;
    z-index: 1;
}

.v-categories__text {
    margin-top: 82px;
    padding-left: 35px;
}

.v-categories__text p {
    font-size: 20px;
    font-weight: 500;
    color: #38455C;
    margin: 10px 0;
}

.v-categories__text a {
    color: #B81687
}

.v-categories__text a:hover {
    text-decoration: none;
}

@media (max-width: 1600px) {
    .v-categories__item--1 .v-categories__item-inner {
        padding: calc(24px + (70 - 24) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--1 .v-categories__item-title {
        font-size: calc(24px + (48 - 24) * ((100vw - 767px) / (1600 - 767)));
        margin-bottom: calc(12px + (20 - 12) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--1 .v-categories__item-subtitle {
        font-size: calc(14px + (32 - 14) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--1 .v-categories__item-img-main {
        width: calc(242px + (650 - 242) * ((100vw - 767px) / (1600 - 767)));
        margin-left: auto;
        margin-right: auto;
        margin-top: calc(3px + (-32 - 3) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--1 .v-categories__item-description {
        font-size: calc(12px + (20 - 14) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--2 .gradient h3 {
        font-size: calc(24px + (48 - 24) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--3 .gradient h3 {
        font-size: calc(24px + (48 - 24) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--4 {
        padding-left: calc(24px + (70 - 24) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--4 h3 {
        font-size: calc(24px + (48 - 24) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--5 {
        padding-left: calc(24px + (70 - 24) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--5 h3 {
        font-size: calc(24px + (48 - 24) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--6 .v-categories__item-inner {
        padding: calc(24px + (70 - 24) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--6 .v-categories__item-title {
        font-size: calc(24px + (48 - 24) * ((100vw - 767px) / (1600 - 767)));
        margin-bottom: calc(12px + (20 - 12) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--6 .v-categories__item-subtitle {
        font-size: calc(14px + (32 - 14) * ((100vw - 767px) / (1600 - 767)));
        margin-bottom: calc(12px + (20 - 12) * ((100vw - 767px) / (1600 - 767)));
    }

    .v-categories__item--6 .v-categories__item-description {
        font-size: calc(12px + (20 - 14) * ((100vw - 767px) / (1600 - 767)));
    }
}

@media (max-width: 1200px) {
    .v-categories {
        padding-bottom: 60px;
    }

    .v-categories__title {
        margin-bottom: 30px;
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .v-categories__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .v-categories__item {
        aspect-ratio: 7 / 4!important;
    }

    .v-categories__item--1 .v-categories__item-img-big {
        width: 25%;
    }

    .v-categories__item--1 .v-categories__item-img-small {
        width: 15%;
    }

    .v-categories__item--1 .v-categories__item-inner {
        padding: 20px;
    }

    .v-categories__item--1 .v-categories__item-title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .v-categories__item--1 .v-categories__item-subtitle {
        font-size: 12px;
        margin-bottom: 8px;
    }

    .v-categories__item--1 .v-categories__item-img-main {
        width: 50%;
        margin: 0 auto;
    }

    .v-categories__item--1 .v-categories__item-description {
        display: none;
    }

    .v-categories__item--2 .gradient {
        background: radial-gradient(50% 50% at 24px 50%, #F4DFFF 19.71%, rgba(217, 217, 217, 0) 100%);
        transform: rotate(0deg) translate(0, 0);
        justify-content: flex-start;
        padding-left: 24px;
    }

    .v-categories__item--2 .gradient h3 {
        font-size: 24px;
        transform: rotate(0deg);
    }

    .v-categories__item--3 .gradient {
        background: radial-gradient(50% 50% at 24px 50%, #F0FFFF 19.71%, rgba(217, 217, 217, 0) 100%);
        transform: rotate(0deg) translate(0, 0);
        justify-content: flex-start;
        padding-left: 24px;
    }

    .v-categories__item--3 .gradient h3 {
        font-size: 24px;
        transform: rotate(0deg);
    }

    .v-categories__item--4 {
        padding-left: 24px;
    }

    .v-categories__item--4 h3 {
        font-size: 24px;
    }

    .v-categories__item--5 {
        padding-left: 24px;
    }

    .v-categories__item--5 h3 {
        font-size: 24px;
    }

    .v-categories__item--6 .v-categories__item-img-main {
        height: 100%;
    }

    .v-categories__item--6 .v-categories__item-inner {
        padding: 24px;
        background: radial-gradient(50% 50% at 30% 50%, #EAFFFC 19.71%, rgba(217, 217, 217, 0) 100%);
        transform: rotate(0deg);
    }

    .v-categories__item--6 .v-categories__item-title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .v-categories__item--6 .v-categories__item-subtitle {
        font-size: 14px;
    }

    .v-categories__item--6 .v-categories__item-description {
        display: none;
    }

    .v-categories__text {
        margin-top: 30px;
        padding-left: 0px;
    }

    .v-categories__text p {
        font-size: 14px;
    }
}