.v-steps {
    padding-bottom: 50px;

    h2 {
        font-size: 48px;
        color: #38455C;
        text-align: center;
        margin-bottom: 120px;
        font-weight: 600;
    }
}

.v-steps__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 1454px;
    margin: auto auto auto 36px;
}

.v-steps__item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.v-steps__item:nth-child(even) {
    flex-direction: row-reverse;
}

.v-steps__item-text, .v-steps__item-icon {
    min-width: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.v-steps__item-text {
    display: flex;
    flex-direction: column;
    gap: 45px;
}


.v-steps__item-title {
    display: flex;
    align-items: center;
    gap: 30px;
}

.v-steps__item-title img {
    width: 80px;
    aspect-ratio: 1 / 1;
}

.v-steps__item-title span {
    font-size: 32px;
    font-weight: 600;
    color: #38455C;
}

.v-steps__item-description {
    display: flex;
    flex-direction: column;
    max-width: 82%;
}

.v-steps__item-description p {
    font-size: 20px;
    color: #38455C;
    font-weight: 500;
    line-height: 140%;
    margin: 0 0 33px 0;
}

.v-steps__item-description .v-steps__item-text-linked {
    margin-top: 33px;
    font-size: 20px;
    font-weight: 500;
    color: #38455C;
    min-width: 746px;
    margin-bottom: 0;
}

.v-steps__item-text-linked a {
    color: #B81687;
    text-decoration: underline;
}

.v-steps__item-text-linked a:hover {
    text-decoration: none;
}

.v-steps__item-description .v-steps__item-hashtag {
    font-weight: 600;
    font-size: 32px;
    margin-top: -33px;
}

.v-steps__item-description .v-steps__item-warning {
    font-weight: 400;
    font-size: 14px;
    margin-top: 57px;
    min-width: 730px;
}

.v-steps__item-icon {
    display: flex;
    align-items: center;
}

.v-steps__item-icon img {
    max-width: 600px;
    width: 100%;
}

.v-steps__item--3 .v-steps__item-icon img {
    max-width: 520px;
}

.v-steps__item:nth-child(even) .v-steps__item-icon {
    justify-content: center;
}

.v-steps__item:nth-child(odd) .v-steps__item-icon {
    justify-content: center;
}

.v-steps__item--1 .v-steps__item-icon img {
    max-width: 625px;
    transform: translate(34px, -13px);
}

.v-steps__item--2 {
    align-items: center;
}

.v-steps__item--2 .v-steps__item-icon img {
    max-width: 455px;
    width: 100%;
    aspect-ratio: 1 / 1;
    transform: translate(44px, -11px);
}

.v-steps__item--2 .v-steps__item-text {
    padding-left: 157px;
    padding-top: 12px;
}

.v-steps__item--3 {
    padding-top: 30px;
}

.v-steps__item--3 .v-steps__item-icon img {
    max-width: 441px;
    width: 100%;
    aspect-ratio: 1 / 1;
    transform: translate(66px, -88px);
}

.v-steps__item--4 .v-steps__item-icon img {
    max-width: 529px;
    width: 100%;
    transform: translate(13px, -11px);
}

.v-steps__item--4 {
    align-items: center;
    margin-top: -10px;
}

.v-steps__item--4 .v-steps__item-text {
    transform: translateX(139px);
    min-width: 697px;
}

.v-steps__item--5 .v-steps__item-icon img {
    max-width: 624px;
    width: 100%;
    transform: translate(80px, -59px);
}

.v-steps__item--5 {
    margin-top: 77px;
}

@media (max-width: 1670px) {
    .v-steps__list {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .v-steps__item--4 .v-steps__item-text {
        min-width: auto;
        transform: none;
    }

    .v-steps__item .v-steps__item-icon img {
        transform: none;
    }

    .v-steps__item--2 .v-steps__item-text {
        transform: none;
        padding: 0;
    }

    .v-steps__item-description .v-steps__item-warning {
        min-width: auto;
    }

    .v-steps__item--3 .v-steps__item-icon img {
        aspect-ratio: auto;
        width: auto;
    }

    .v-steps__item--3 {
        align-items: center;
        padding: 0;
    }

    .v-steps__item {
        margin-top: 0;
        align-items: center;
        gap: 40px;
    }

    .v-steps__item-text, .v-steps__item-icon {
        min-width: calc(50% - 20px);
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .v-steps__item-description .v-steps__item-text-linked {
        min-width: auto;
        font-size: 12px;
    }

    .v-steps__item-description .v-steps__item-hashtag {
        margin: 0;
    }
}


@media (max-width: 1200px) {
    .v-steps {
        padding-bottom: 60px;

        h2 {
            margin-bottom: 30px;
            font-size: 24px;
        }
    }

    .v-steps__list {
        gap: 32px;
    }

    .v-steps__item-text {
        gap: 20px;
    }

    .v-steps__item-title {
        gap: 20px;
    }

    .v-steps__item-title img {
        width: 50px;
    }

    .v-steps__item-title span {
        font-size: 24px;
    }

    .v-steps__item-description {
        max-width: 100%;
    }

    .v-steps__item-description p {
        font-size: 16px;
        margin: 8px 0;
    }

    .v-steps__item-description .v-steps__item-hashtag {
        font-size: 24px;
    }

    .v-steps__item-description .v-steps__item-warning {
        font-size: 12px;
        margin-top: 50px;
    }

    .v-steps__item-icon img {
        max-width: 400px;
        height: auto;
        width: 100%;
    }

    .v-steps__item .v-steps__item-icon {
        justify-content: center!important;
    }
}

@media (max-width: 800px) {
    .v-steps__item, .v-steps__item:nth-child(even) {
        flex-direction: column;
        gap: 24px;
        padding: 20px;
        border: 1px solid #d0d0d0;
        border-radius: 12px;
    }

    .v-steps__list {
        gap: 15px;
    }

    .v-steps__item-text, .v-steps__item-icon {
        min-width: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .v-steps__item-title {
        gap: 16px;
    }

    .v-steps__item-title img {
        width: 32px;
    }

    .v-steps__item-title span {
        font-size: 18px;
    }

    .v-steps__item-text {
        gap: 16px;
    }

    .v-steps__item-description p {
        margin: 4px 0;
    }

    .v-steps__item-description .v-steps__item-hashtag {
        font-size: 16px;
    }

    .v-steps__item-description .v-steps__item-warning {
        margin-top: 24px;
    }

    .v-steps__item-icon img {
        max-height: 300px;
        height: 100%;
        width: 100%;
        max-width: 100%;
    }
}